
.anime-section-go-back {
    margin-top: remy(50);
}

.anime-content h6 {
    margin-top: 30px;
}


.anime-section-meta-info{
    display: flex;
    flex-wrap: wrap
}

.anime-section-meta-info > div {
    flex-grow: 1;
}
