.row.profile-settings{
    justify-content: center;
    
    .avatar-upload {
        position: relative;
        max-width: 205px;
        margin: 50px auto;
        .avatar-edit {
            position: absolute;
            right: 12px;
            z-index: 1;
            top: 10px;
            input {
                display: none;
                + label {
                    display: inline-block;
                    width: 34px;
                    height: 34px;
                    margin-bottom: 0;
                    border-radius: 100%;
                    background: #FFFFFF;
                    border: 1px solid transparent;
                    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
                    cursor: pointer;
                    font-weight: normal;
                    transition: all .2s ease-in-out;
                    &:hover {
                        background: #f1f1f1;
                        border-color: #d6d6d6;
                    }
                    &:after {
                        content: "\F303";
                        font-family: Font Awesome\ 5 Free;
                        color: #000;
                        position: absolute;
                        top: 10px;
                        left: 0;
                        right: 0;
                        text-align: center;
                        margin: auto;
                    }
                }
            }
        }
        .avatar-preview {
            width: 192px;
            height: 192px;
            position: relative;
            border-radius: 100%;
            border: 6px solid #F8F8F8;
            box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
            > div {
                width: 100%;
                height: 100%;
                border-radius: 100%;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
            }
        }
    }

            
    .form-group {
        margin-bottom: 25px;
    }

    .username-note{
        display: none;

        span {
            font-size: 12px;
        }

        
        span.username-note-title {
            font-weight: bold;
            text-decoration: underline;
        }
    }

    .username-field{
        position: relative;


        input:disabled::placeholder {
            color: black;
          }


        i.fas.fa-pencil-alt{
            position: absolute;
            right: 0;
            bottom: 50%;
            font-size: 13px;

            &:hover, &:focus, &.focus{
                color:$color-green;
            }
        }
    }

    .email{
        padding: 10px 0;
        border-bottom: 1px dotted rgba(0,0,0,.42);
    }

    .submit-btn {
        margin-top: 30px;
        text-align: center;
    }
    
    

}