{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}
{% block body_class %}template-animeindexpage{% endblock %}
{% load anime_tags %}

{% block content %}
<div class="{{layout}}">
    <h1 class="mb-large meta-info-title">{{title}} : <strong>
        {% if filter_type == "format" %}
            {{ filter_value|to_space:"-"|upper }}
        {% else %}
            {{ filter_value|upper }}
        {% endif %}
    </strong></h1>
    <div class="row">
    {% for anime in animepages %}
    <div class="col s12 xl6">
            <div class="card horizontal anime-card">
                    <div class="card-image">
                            <a href="{% pageurl anime %}">{% image anime.specific.featured_image fill-320x455 class="activator"%}</a>
                            <div class="anime-card-title-studio">
                                <h2 class="anime-card-title"><a href="{% pageurl anime %}">{{ anime.specific.title }}</a></h2>
                                <p class="anime-card-studio"><a href="{% url 'anime:studio' anime.specific.studio.slug %}">{{ anime.specific.studio }}</a></p>
                            </div>
                        </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <p class="anime-card-release-time"><a href="{% url 'anime:release_time' anime.specific.season anime.specific.year %}"><span class="anime-card-season">{{ anime.specific.season|title }}</span> <span class="anime-card-year">{{ anime.specific.year }}</span></a></p>
                        <p class="anime-card-format"><a href="{% url 'anime:format' anime.specific.format %}">{{ anime.specific.format|to_space:"-"|upper }}</a></p>
                        <p class="anime-card-intro">{{ anime.specific.intro }}</p>
                        {% if anime.specific.tags %}
                        <div class="card-tags">
                            {% for tag in anime.specific.tags.all %}
                                {% if forloop.last %}
                                <a href="{% url 'anime:tag' tag %}">{{ tag }}</a>
                                {% else %}
                                <a href="{% url 'anime:tag' tag %}">{{ tag }},</a>
                                {% endif %}
                            {% endfor %}
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
          </div>
    {% endfor %}
</div>

</div>
{% endblock %}