
*/__pycache__
/*/*/__pycache__
db.sqlite3
.virtualenv/
logs/
*.pyc
home/templates/home/robots.txt
*map
npm-debug.log
v8-compile-cache-0/ 
node_modules/
/static/
media/
anigods/wsgi.py
*/migrations/*
manage.py
dev.py
prod.py
test.py
